.btn.mybtn{
    padding: 1rem;
    margin-right:0.5rem ;
    margin-bottom:0.5rem;
    /* width:4rem; */
}
html{
    position: relative;
}
body{
    margin-bottom: 100px;
    width:100%;
}
.footer{
    position: absolute;
    bottom: 0px;
    height:60px ;
    background-color: rgb(27, 27, 212);
    color: white;
    width: 100%;
    overflow: hidden;
}
.footer p{
    text-align: center;
    padding-top: 20px;
    
}

.minHeight{
    min-height: calc(90vh - 114px);
}


div.col-3{
    padding: 0 5px;
}
.btn.btn-warning{
    color: white;

}


